<%= render 'shared/content_title', title: "Profile: #{@user.username}"%>

<div class="col-sm-12 well">
  <dl class="dl-horizontal">
	  <dt>Username:</dt> 
    <dd><%= @user.username %></dd>
	  <dt>Time Zone:</dt> 
    <dd><%= !@user.time_zone.blank? ? @user.time_zone : "None Set" %></dd>
  </dl>
</div>
<br/>
<% if @user == current_user %>
  <h3><%= @user.username %>'s Bookmarked Posts:</h3>
  <br/>
  <% if !current_page?(root_path) %>
    <div id='container' class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60 }'>
      <% @user.list_of_user_saved_posts.each do |post| %>
        <div id='user-profile_<%= post.slug %>' class='item'>
      	  <%= render 'posts/post', post: post %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>