<%= render 'shared/content_title', title: "Profile: #{@user.username}"%>

<div class="col-sm-12 well">
  <dl class="dl-horizontal">
	  <dt>Username:</dt> 
    <dd><%= @user.username %></dd>
	  <dt>Time Zone:</dt> 
    <dd><%= !@user.time_zone.blank? ? @user.time_zone : "None Set" %></dd>
  </dl>
</div>
<br/>
<h3><%= @user.username %>'s Bookmarked Posts:</h3>
<br/>
<% if !current_page?(root_path) %>
    <% @user.list_of_user_saved_posts.each do |post| %>
      <div id='user-profile_<%= post.slug %>'>
    	  <%= render 'posts/post', post: post %>
      </div>
    <% end %>
<% else %>
  <% list_of_user_saved_posts(@user.saved_posts).each do |post| %>
  	<%= render 'posts/post', post: post %>
  <% end %>
<% end %>