<span id="like_button_<%= post.slug %>">
  <% if post.voted_by_user?(current_user) %>
    <%= link_to post_vote_path(post, post.vote_object(current_user)), method: 'delete', remote: true do %>
      <span class="fa fa-heart" aria-hidden="true"> <%= post.votes.size %></span>
      <% end %>
  <% else %>
    <%= link_to post_votes_path(post), method: 'post', remote: true do %>
      <span class="fa fa-heart-o" aria-hidden="true"> <%= post.votes.size %></span>
    <% end %>
  <% end %>
</span>