<div class="col-sm-5 well post-box">
  <%= render post.categories %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <p><%= post.description %></p>
  <p><%= link_to post.url, url_with_protocol(post.url) %></p>
  <p>
    <span class='quiet'>posted by </span><%= link_to post.creator.username, user_path(post.creator) %>
    <small>on <%= display_friendly_date(post.created_at) %></small>
  </p>

  <div class='row'>
    <% if logged_in? %>
      <%= link_to post_path(post) do %>
        <% if post.already_commented_by_user?(current_user) %>
          <span class="fa fa-comment" aria-hidden="true"> <%= post.comments.size %></span>
        <% else %>
          <span class="fa fa-comment-o" aria-hidden="true"> <%= post.comments.size %></span>
        <% end %>
      <% end %>
      <%= render 'posts/like_button', post: post %>
      <%= render 'posts/bookmark_button', post: post %>
    <% end %>
  </div>
</div>
