<div class="well post-box">
  <% url = generate_url_preview(post.url) %>
  <% if !url.images.empty? %>
    <%= image_tag(url.images.first.src.to_s, class: "post-box-images") %>
  <% end %>
  <br>
  <br>
  <span><%= render post.categories %></span>
  <% if logged_in? %>
    <span class='bookmark'><%= render 'posts/bookmark_button', post: post %></span>
  <% end %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <p><%= post.description %></p>
  <p><%= link_to post.url, url_with_protocol(post.url) %></p>

  <div class='row'>
    <% if logged_in? %>
      <%= link_to post_path(post) do %>
        <% if post.already_commented_by_user?(current_user) %>
          <span class="fa fa-comment" aria-hidden="true"> <%= post.comments.size %></span>
        <% else %>
          <span class="fa fa-comment-o" aria-hidden="true"> <%= post.comments.size %></span>
        <% end %>
      <% end %>
      <%= render 'posts/like_button', post: post %>
    <% end %>
  <hr>
  <p>
    <span class='quiet'>posted by </span><%= link_to post.creator.username, user_path(post.creator) %>
    <small><%= display_friendly_date(post.created_at) %> ago</small>
  </p>
  </div>
</div>

