<%= render 'shared/content_title', title: "Create New Category"%>

<div class = 'col-sm-8 well'>
	<%= form_for @category do |f| %>
	
		<%= render 'shared/errors', controller_object: @category %>
	
		<div class="form-group">
			<%= f.label :name, "Category Name" %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<br/>
		<%= f.submit "Create Category", class: "btn btn-success" %>
	<% end %>
	
</div>